html{
    background-image: url("../images/bg.jpg");
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

body{
/* background-image: url("../images/bg.jpg");
background-color: black;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; */
height: 100%;
width: 100%;
color: rgb(255, 94, 0);
margin: auto;
display: flex;
    flex-direction: column;
    max-width: 720px;
}
.outter-div {
    margin: auto;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}


.col-btn{
    text-align: center;
    margin: auto;
    font-weight: bold;
}

#correct{
    color:greenyellow;
    font-weight: bold;
}

#incorrect{
    color:red;
    font-weight: bold;
}


#unanswered{
    color: cyan;
    font-weight: bold;
}

#good{
    color: yellow;
}

#wrong{
    color:red;
}

#AnsCorrect{
    color:orangered;
}

/* #question-tag{
    color:
} */

#question{
    color: orange
}

/* #choices-tag{
    color:
} */

.choices{
    color: orange
}

#a1:hover, #a2:hover, #a3:hover, #a4:hover {
    color: yellowgreen;
    background: black;
    border: 1px solid orangered;
    cursor: pointer;
}
.btn{
    display: none;
  
}

